<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <!-- 有驗證過才有登出按鈕 -->
    <% if (isAuthenticated) { %>
      <h1>Hi, <%= user.name %></h1>
      <form action="/auth/logout" method="POST"><button>登出</button></form>
    <%}%>
    <p>Welcome to <%= title %></p>
    <!-- 沒有驗證過才有前往登入連結 -->
    <% if (!isAuthenticated) { %>
      <a href="/auth/login">前往登入</a>
    <%}%>
    <!-- 有驗證過才有前往計算機連結 -->
    <% if (isAuthenticated) { %>
      <a href="/users">計算機</a>
    <%}%>
  </body>
</html>
